<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Watpac Cibil"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity" android:exported="true"/>
        <activity android:name=".RegisterActivity" android:exported="true"/>
        <activity android:name=".ForgotPasswordActivity" android:exported="true"/>
        <activity android:name=".OtpVerificationActivity" android:exported="true"/>
        <activity android:name=".AdminDashboardActivity" android:exported="true" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AdminProjectManageActivity" android:exported="true"/>
        <activity android:name=".AdminAdActivity" android:exported="true"/>
        <activity android:name=".AdminProjectActivity" android:exported="true"/>
        <activity android:name=".AdminCommentActivity" android:exported="true"/>
        <activity android:name=".EngineerTankActivity" android:exported="true"/>
        <activity android:name=".EngineerUploadActivity" android:exported="true"/>
        <activity android:name=".EngineerCompanyDetailsActivity" android:exported="true" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EngineerBasementActivity" android:exported="true"/>
        <activity android:name=".EngineerLintelActivity" android:exported="true"/>
        <activity android:name=".EngineerCentringActivity" android:exported="true"/>
        <activity android:name=".EngineerWaterproofActivity" android:exported="true"/>
        <activity android:name=".EngineerFinalActivity" android:exported="true"/>
        <activity android:name=".UserCommentActivity" android:exported="true" android:windowSoftInputMode="adjustPan"/>

    </application>


</manifest>